<nav class="navbar navbar-expand-sm bg-dark">

  <div class="container-fluid">
    <div class="navbar-header">
      <a  class="nav-link" routerLink="bootstrap"><p>Bootstrap</p>

      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="nav-link" routerLink="page1"><p>Button<p></a></li>
      <li><a class="nav-link" routerLink="page2"><p>Prograss Bar</p></a></li>
      <li ><a class="nav-link" routerLink="page3"><p>Text Color</p></a></li>
    </ul>

  </div>
</nav>


<router-outlet></router-outlet>
<app-footer></app-footer>
